@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

:root {
    font-family: Outfit, sans-serif;
    font-size: 18px;
}